@charset "utf-8";
/* CSS Document */
.header_nav a, .ui-tel, .ui-app, .mainNav-arrow, .footer-contact table a, .page-name, .step-text i, .project-box a,.user-info a.ui-icon,.investment-banke,.myproject-list .project_again span,.project-status span,.pro-title span,.step-back i,.ui-goback a,.project-end span,.project-audit span,.project-no span,.project-audited span,.mod-project-detailed .first,.header-top-right p i,.financing-table .first,.pro-title .pro-overdue{ background:url(../images/header.png);background-position:-999px 0;background-repeat:no-repeat;}
.icon-error,.lg-submit-btn,.reg-box input.ui-button-text,.reg-box input.ui-code-get,.reg-box input.ui-code-sent,.reg-error b.icon-error,.tips-correct,.ui-form-name input.ui-button-text,.calculator-add .tips-correct,.bank-add-box h3 a.close,.submitBtn,.header-top-right ul li input,.ui-button-5,.ui-button-6,.calculator-add .tips-icon-error,.tips-error{background:url(../images/button.png);background-position:-999px 0;background-repeat:no-repeat;}
.ui-icon,.ui-tips,.mod-hot-news .news-list,.cell-item-icon,.add,.del,.clock,.result-icon,.ui-form-item span,.ui-ban,.ui-correct,.ui-input-box .icon-error,.ui-input-box .icon-correct,.ui-table-1 .tS .sj,.select-the-share a,.corporate-ratings i,.rating-report i,.project-instructions,.ico_2{background:url(../images/icon.png);background-position:-999px 0;background-repeat:no-repeat;}

.w-980{width:980px; margin:0 auto;}
/*****顶部样式*****/
.top-bar{background:#a1121a;position:fixed; z-index:999;width:100%; height:35px; overflow:hidden;}
.topbar-wrap{ color:#ecbabc; width:1086px; margin:0 auto; line-height:35px; height:35px; background:url(../images/header_tile_bg.jpg) no-repeat; overflow:hidden;}
.topbar-wrap span{height:35px;}
.header_nav{margin-right:24px;}
.header_nav ul li{float:left;}
.header_nav ul li a{color:#ecbabc;}
.header_nav ul li a:hover{color:#ffea00;}
.header_nav ul li b{padding:0 13px;font-weight:400;font-family:"simsun";}

.ui-favorite{padding-left:23px;background:url(../images/icon_fav.png) left center no-repeat}
.ui-tel{padding-left:43px; background-position:20px 0px; font-weight:bold; font-family:Arial;}
.welcome{margin-left:10px;}
.header-top-right{}

/*****4�7*****/
.header{ position:fixed;top:0;left:0;right:0; z-index:99;}
.header-bg{background:#fff;}
.header-wrap{width:1086px;margin:0 auto; height:90px;}
.header .logo{margin-top:20px;}
#main-nav{height:38px;position:relative;background:#F3485A;}
#main-nav ul{width:1086px;margin:0 auto;}
#main-nav ul li.mainNav-item{float:left;width:124px;height:35px;line-height:35px;margin-top:3px;text-align:center;margin-right:2px;}
.mainNav-item{ display:block; font-size:16px; font-family:"微软雅黑"; position:relative;}
.mainNav-item a{ height:35px;color:#fff; display:block;}
.mainNav-item a:hover{color:#fff;}
#main-nav ul li.current a{color:#F3485A;display:block;background:#fff;border-radius:4px 4px 0 0;behavior:url(pie.htc);}

#main-nav .sub-mainNav{ text-align:center; font-size:14px; display:none; position:absolute;top:35px; left:0; background:#fff;padding-bottom:10px;width:122px; z-index:2;border:solid 1px #cfcfcf;border-top:none;}
#main-nav .sub-mainNav li{height:24px;line-height:24px;}
#main-nav .sub-mainNav li a{color:#737373; display:block; width:auto; overflow:hidden;font-weight:400;}
#main-nav ul li.current .sub-mainNav a{color:#737373;height:24px;}
#main-nav ul li.current .sub-mainNav a:hover{color:#fff;background:#c1161f;border-radius:0;}

.header-top-right{float:right;}
.header-top-right ul{margin:15px 0 10px 0; overflow:hidden;float:right;}
.header-top-right ul li{float:left;font-family:"simsun";height:26px;line-height:26px;margin-left:10px;}
.header-top-right ul li span{margin:0 10px;}
.header-top-right ul li input{width:62px;height:26px;border:none;color:#666;font-size:14px;font-weight:700; cursor:pointer;}
.header-top-right ul li input.ui-btn-1{background-position:-667px -261px;}
.header-top-right ul li input.ui-btn-1:hover{background-position:-667px -291px;}
.header-top-right ul li input.ui-btn-2{background-position:-738px -261px;}
.header-top-right ul li input.ui-btn-2:hover{background-position:-738px -291px;}
.header-top-right p{float:right;font-size:14px;color:#666;}
.header-top-right p i{background-position:-248px -477px;width:24px;height:24px; display:block;float:left;margin:2px 5px 0 0;}
.header-top-right p b{float:left;font-weight:400;margin-top:3px;}
.header-top-right p span{font-size:18px;float:left;}

.gray-bg{background:#f3f3f3;}
.page-name{color:#999;font-size:24px;font-family:"Microsoft YaHei"; background-position:-389px -2px;height:35px;margin:20px 0 0 15px;padding:5px 0 0 15px;}
.login-header-top{border-bottom:solid 2px #dce3eb;background:#fff;margin-bottom:40px;}
.login-header{}
.login-header .logo img{margin:18px 0 0 0;}


.mod-footer{background:#dedede;min-height:270px;margin-top:20px;}
.footer-wrap{width:1086px;margin:0 auto; overflow:hidden;}
.ui-guide{}
.ui-guide-item{font-family:"Microsoft YaHei";font-size:12px;line-height:22px; background:url(../images/footer-line.jpg) top right no-repeat;padding:0 22px;}
.ui-guide-item dt{font-weight:700;}
.ui-guide-item dt img{margin:20px 0 15px 5px;}
.ui-guide-item dd a{color:#333;}
.ui-guide-item dd a:hover{color:#f10;}
.copyright{ text-align:right;color:#939191;}
.copyright img{margin:17px 0 5px 0;}
.copyright p{line-height:20px;}
.copyright p.company-name{color:#666;margin:3px 0;}
.footer-contact{color:#666;background:url(../images/footer-line.jpg) top right no-repeat;padding:0 25px;}
.footer-contact table{margin:22px 0 0 0;}
.footer-contact table span{font-size:22px;color:#333; font-family:Verdana, Geneva, sans-serif;}


.mod-step{}
.reg_step{width:700px;margin:0 auto;padding-top:30px;}
.reg_step table{}
.reg_step table td{ background:url(../images/reg_03.png) left center repeat-x;}
.reg_step table td.mod-bule-line{ background:url(../images/reg_04.png) left center repeat-x;}
.reg_step table td.mod-blue-line-red{background:url(../images/reg_05.png) left center repeat-x;}

.step-top{width:780px;margin:0 auto;margin-top:30px;}
.step-top th{ text-align:center;}
.step-top td{font-size:16px;line-height:30px;color:#e8645a;font-size:16px;}
.step-top td.text-gray{color:#666;}


.step-text{background:#f3f3f3;font-size:16px;font-family:"Microsoft YaHei";color:#666; overflow:hidden;line-height:50px;}
.step-text i{width:49px;height:50px; display:block;float:left;margin:0 10px 0 0;}
.step-text i.step-icon-user{ background-position:0 -112px;}
.step-text i.step-icon-user1{ background-position:0 -171px;}
.step-text i.step-icon-user-red{background-position:-156px -462px;}
.step-text i.step-icon-pwd{background-position:-78px -112px;}
.step-text i.step-icon-pwd1{background-position:-78px -171px;}
.step-text i.step-icon-suc{background-position:-156px -112px;}
.step-text i.step-icon-suc-red{background-position:-156px -520px;}
.step-text i.step-icon-suc1{background-position:-156px -171px;}

.labelContent{ display:none;}

.reg-box{margin:40px 0 100px 70px;font-size:16px;font-family:"Microsoft YaHei";color:#666;}
.reg-box input.lg-input-normal{height:40px;border:solid 1px #ccc;font-size:16px;font-family:"Microsoft YaHei";color:#999; text-indent:10px;line-height:40px;}
.reg-box input.w-150{width:150px;}
.reg-box input.w-300{width:300px;}
.reg-box input.ui-button-text{ background-position:0 -217px;width:147px;height:43px;border:none;color:#fff;font-size:18px;font-family:"Microsoft YaHei";margin:20px 0 0 120px;}
.reg-box input.ui-button-text:hover{ background-position:0 -260px; cursor:pointer;}
.m-lorange p{font-family:"simsun";margin:20px 0 0 120px;font-size:14px;}
.reg-form{margin:10px 0 20px 0; overflow:hidden;line-height:42px;}
.tips-correct{ background-position:-779px -51px;width:21px;height:21px;margin:5px 0 0 13px;float:left; display:none;}
.tips-error{ background-position:-779px 0;width:21px;height:21px;margin:5px 0 0 13px;float:left; display:none;}
.m-lorange{margin-left:12px;}

.pay-pop{background:#fff; text-align:center;}
.pay-pop-bun{padding:0 0 0 222px;background:#fff;}
.pay-pop-bun input[type="checkbox"]{margin:5px 10px 0 0;}
.pay-pop-bun input[type="button"]{background:url(../images/btn_4.png) no-repeat;width:223px;height:55px;border:none;margin:10px 0 30px 0; cursor:pointer;}


.build{ text-align:center;min-height:600px; background:url(../images/about_img.gif) center center no-repeat;}

.warp-container{margin-top:145px;}

.backTop {
    bottom: 0;
    position: fixed;
    right: 0;
}
